*,
*::before,
*::after {
   box-sizing: border-box;
   font-family: "Montserrat";
}

body,
html {
   height: 100%;
   width: 100%;
   margin: 0;
}

img {
   max-width: 100%;
   height: auto;
}

.videos {
   gap: 0.5em;
   padding-block: 3rem;
   max-width: min(100% - 2rem, 1700px);
   margin-inline: auto;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr max-content;

   @media (orientation: portrait) {
      grid-template-columns: 1fr;
      height: 100svh;
      grid-template-rows: max-content 1fr;
      gap: 0;
   }

   h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-block: 0 .25em;
      grid-column: 1 / -1;
      text-align: center;
      color: hsl(0 0 10);

      @media (orientation: portrait) {
         font-size: 1.75rem;
         text-align: start;
      }
   }

   >p {
      grid-column: 1 / -1;
      margin: 0 auto 1em auto;
      max-width: 60ch;
      font-size: 1.125rem;
      font-weight: 500;
      color: hsl(0 0 25);

      @media (orientation: portrait) {
         font-size: 1rem;
         text-align: start;
         max-width: unset;
         margin: unset;
      }
   }

   iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
   }

   .video-list {
      height: 0;
      min-height: 100%;
      width: min(20vw, 300px);
      display: grid;
      overflow: auto;
      padding-inline: .5em;
      isolation: isolate;
      position: relative;

      @supports (position-anchor: --example) {
         &::before {
            position-anchor: --playing-anchor;
            inset-block-start: anchor(start);
            inset-block-end: anchor(end);
            inset-inline-start: anchor(self-start);
            inset-inline-end: anchor(self-end);
            transition: inset 300ms cubic-bezier(0.85, 0.09, 0.15, 0.91);
            content: "";
            position: absolute;
            z-index: -1;
            background-color: hsl(75 39 90);
            border: 1px solid hsl(0 0 80);
            border-radius: .75em;
            pointer-events: none;
         }
      }

      @media (orientation: portrait) {
         width: 100%;
         background-color: hsl(0 0 95);
         padding: 1.25em 1em;
      }

      &::-webkit-scrollbar {
         background-color: transparent;
         width: 10px;
      }

      &::-webkit-scrollbar-thumb {
         background-color: hsl(75 39 22);
      }

      >p {
         font-size: 1.37rem;
         font-weight: 600;
         grid-column: 1 / -1;
         margin-block: .5em;
         color: hsl(0 0 10);
      }

      >button {
         grid-column: 1 / -1;
         width: 100%;
         background-image: linear-gradient(.5turn, hsl(0 0 100), hsl(0 0 97));
         color: hsl(0 0 10);
         border: 1px solid hsl(0 0 80);
         font-weight: 600;
         font-size: .9rem;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: .625em 1.25em;
         border-radius: .375em;
         cursor: pointer;
         margin-block-start: .5em;

         &:hover {
            background-image: linear-gradient(.5turn, hsl(0 0 97), hsl(0 0 96));
         }
      }
   }

   .video {
      position: relative;
      display: grid;
      gap: .5em;
      isolation: isolate;
      padding: .5em;
      cursor: pointer;
      flex-shrink: 0;

      @supports not (position-anchor: --example) {
         &.playing::before {
            inset: 0;
            transition: scale 0ms 100ms cubic-bezier(0.19, 1, 0.22, 1), opacity 100ms ease;
            content: "";
            position: absolute;
            z-index: -1;
            background-color: hsl(75 39 90);
            border: 1px solid hsl(0 0 80);
            border-radius: .75em;
            pointer-events: none;
         }
      }

      &.playing {
         anchor-name: --playing-anchor;

         >p {
            color: hsl(75 39 22);
         }
      }


      @media (orientation: portrait) {
         grid-template-columns: 100px 1fr;
         align-items: center;
      }

      img {
         border-radius: .25em;
         aspect-ratio: 16 / 9;
         width: 100%;
         object-fit: cover;
         object-position: center;
         align-self: start;
         grid-row: 1;
         grid-column: 1;
      }

      p {
         color: hsl(0 0 25);
         margin: 0;
         font-size: .9rem;
         font-weight: 600;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;
         line-clamp: 2;
         overflow: hidden;
         text-overflow: ellipsis;
         grid-row: 2;
         grid-column: 1;

         @media (orientation: portrait) {
            grid-row: 1;
            grid-column: 2;
         }
      }
   }
}